<h1>{{ title }}</h1>

<form action="/categories/update" method="post">
    <input type="hidden" name="id" id="id" value="{{ id }}">
    <input type="text" name="name" id="name" value="{{ name }}">

    <input type="submit">
</form>